/build/CMakeCache.txt
/build/CMakeFiles/2.8.12.2/CMakeCCompiler.cmake
/build/CMakeFiles/2.8.12.2/CMakeCXXCompiler.cmake
/build/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/2.8.12.2/CMakeSystem.cmake
/build/CMakeFiles/2.8.12.2/CompilerIdC/a.out
/build/CMakeFiles/2.8.12.2/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/2.8.12.2/CompilerIdCXX/a.out
/build/CMakeFiles/2.8.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/Makefile2
/build/CMakeFiles/Makefile.cmake
/build/CMakeFiles/pbd.dir/build.make
/build/CMakeFiles/pbd.dir/cmake_clean.cmake
/build/CMakeFiles/pbd.dir/cmake_clean_target.cmake
/build/CMakeFiles/pbd.dir/CXX.includecache
/build/CMakeFiles/pbd.dir/DependInfo.cmake
/build/CMakeFiles/pbd.dir/depend.internal
/build/CMakeFiles/pbd.dir/depend.make
/build/CMakeFiles/pbd.dir/flags.make
/build/CMakeFiles/pbd.dir/link.txt
/build/CMakeFiles/pbd.dir/progress.make
/build/CMakeFiles/pbd.dir/src/datapoints.cpp.o
/build/CMakeFiles/pbd.dir/src/demonstration.cpp.o
/build/CMakeFiles/pbd.dir/src/gmm.cpp.o
/build/CMakeFiles/pbd.dir/src/gmr.cpp.o
/build/CMakeFiles/pbd.dir/src/hmm.cpp.o
/build/CMakeFiles/pbd.dir/src/hsmm.cpp.o
/build/CMakeFiles/pbd.dir/src/lqr.cpp.o
/build/CMakeFiles/pbd.dir/src/mvn.cpp.o
/build/CMakeFiles/pbd.dir/src/taskparameters.cpp.o
/build/CMakeFiles/pbd.dir/src/tpdemonstration.cpp.o
/build/CMakeFiles/pbd.dir/src/tpgmm.cpp.o
/build/CMakeFiles/progress.marks
/build/CMakeFiles/TargetDirectories.txt
/build/cmake_install.cmake
/build/examples/CMakeFiles/CMakeDirectoryInformation.cmake
/build/examples/CMakeFiles/progress.marks
/build/examples/CMakeFiles/test_datapoints.dir/build.make
/build/examples/CMakeFiles/test_datapoints.dir/cmake_clean.cmake
/build/examples/CMakeFiles/test_datapoints.dir/CXX.includecache
/build/examples/CMakeFiles/test_datapoints.dir/DependInfo.cmake
/build/examples/CMakeFiles/test_datapoints.dir/depend.internal
/build/examples/CMakeFiles/test_datapoints.dir/depend.make
/build/examples/CMakeFiles/test_datapoints.dir/flags.make
/build/examples/CMakeFiles/test_datapoints.dir/link.txt
/build/examples/CMakeFiles/test_datapoints.dir/progress.make
/build/examples/CMakeFiles/test_datapoints.dir/test_datapoints.cpp.o
/build/examples/CMakeFiles/test_demonstration.dir/build.make
/build/examples/CMakeFiles/test_demonstration.dir/cmake_clean.cmake
/build/examples/CMakeFiles/test_demonstration.dir/CXX.includecache
/build/examples/CMakeFiles/test_demonstration.dir/DependInfo.cmake
/build/examples/CMakeFiles/test_demonstration.dir/depend.internal
/build/examples/CMakeFiles/test_demonstration.dir/depend.make
/build/examples/CMakeFiles/test_demonstration.dir/flags.make
/build/examples/CMakeFiles/test_demonstration.dir/link.txt
/build/examples/CMakeFiles/test_demonstration.dir/progress.make
/build/examples/CMakeFiles/test_demonstration.dir/test_demonstration.cpp.o
/build/examples/CMakeFiles/test_gmm.dir/build.make
/build/examples/CMakeFiles/test_gmm.dir/cmake_clean.cmake
/build/examples/CMakeFiles/test_gmm.dir/CXX.includecache
/build/examples/CMakeFiles/test_gmm.dir/DependInfo.cmake
/build/examples/CMakeFiles/test_gmm.dir/depend.internal
/build/examples/CMakeFiles/test_gmm.dir/depend.make
/build/examples/CMakeFiles/test_gmm.dir/flags.make
/build/examples/CMakeFiles/test_gmm.dir/link.txt
/build/examples/CMakeFiles/test_gmm.dir/progress.make
/build/examples/CMakeFiles/test_gmm.dir/test_gmm.cpp.o
/build/examples/CMakeFiles/test_gmr2.dir/build.make
/build/examples/CMakeFiles/test_gmr2.dir/cmake_clean.cmake
/build/examples/CMakeFiles/test_gmr2.dir/CXX.includecache
/build/examples/CMakeFiles/test_gmr2.dir/DependInfo.cmake
/build/examples/CMakeFiles/test_gmr2.dir/depend.internal
/build/examples/CMakeFiles/test_gmr2.dir/depend.make
/build/examples/CMakeFiles/test_gmr2.dir/flags.make
/build/examples/CMakeFiles/test_gmr2.dir/link.txt
/build/examples/CMakeFiles/test_gmr2.dir/progress.make
/build/examples/CMakeFiles/test_gmr2.dir/test_gmr2.cpp.o
/build/examples/CMakeFiles/test_gmr.dir/build.make
/build/examples/CMakeFiles/test_gmr.dir/cmake_clean.cmake
/build/examples/CMakeFiles/test_gmr.dir/CXX.includecache
/build/examples/CMakeFiles/test_gmr.dir/DependInfo.cmake
/build/examples/CMakeFiles/test_gmr.dir/depend.internal
/build/examples/CMakeFiles/test_gmr.dir/depend.make
/build/examples/CMakeFiles/test_gmr.dir/flags.make
/build/examples/CMakeFiles/test_gmr.dir/link.txt
/build/examples/CMakeFiles/test_gmr.dir/progress.make
/build/examples/CMakeFiles/test_gmr.dir/test_gmr.cpp.o
/build/examples/CMakeFiles/test_HSMM.dir/build.make
/build/examples/CMakeFiles/test_HSMM.dir/cmake_clean.cmake
/build/examples/CMakeFiles/test_HSMM.dir/CXX.includecache
/build/examples/CMakeFiles/test_HSMM.dir/DependInfo.cmake
/build/examples/CMakeFiles/test_HSMM.dir/depend.internal
/build/examples/CMakeFiles/test_HSMM.dir/depend.make
/build/examples/CMakeFiles/test_HSMM.dir/flags.make
/build/examples/CMakeFiles/test_HSMM.dir/link.txt
/build/examples/CMakeFiles/test_HSMM.dir/progress.make
/build/examples/CMakeFiles/test_HSMM.dir/test_hsmm.cpp.o
/build/examples/CMakeFiles/test_lqr.dir/build.make
/build/examples/CMakeFiles/test_lqr.dir/cmake_clean.cmake
/build/examples/CMakeFiles/test_lqr.dir/CXX.includecache
/build/examples/CMakeFiles/test_lqr.dir/DependInfo.cmake
/build/examples/CMakeFiles/test_lqr.dir/depend.internal
/build/examples/CMakeFiles/test_lqr.dir/depend.make
/build/examples/CMakeFiles/test_lqr.dir/flags.make
/build/examples/CMakeFiles/test_lqr.dir/link.txt
/build/examples/CMakeFiles/test_lqr.dir/progress.make
/build/examples/CMakeFiles/test_lqr.dir/test_lqr.cpp.o
/build/examples/CMakeFiles/test_mvn.dir/build.make
/build/examples/CMakeFiles/test_mvn.dir/cmake_clean.cmake
/build/examples/CMakeFiles/test_mvn.dir/CXX.includecache
/build/examples/CMakeFiles/test_mvn.dir/DependInfo.cmake
/build/examples/CMakeFiles/test_mvn.dir/depend.internal
/build/examples/CMakeFiles/test_mvn.dir/depend.make
/build/examples/CMakeFiles/test_mvn.dir/flags.make
/build/examples/CMakeFiles/test_mvn.dir/link.txt
/build/examples/CMakeFiles/test_mvn.dir/progress.make
/build/examples/CMakeFiles/test_mvn.dir/test_mvn.cpp.o
/build/examples/CMakeFiles/test_onlineDP.dir/build.make
/build/examples/CMakeFiles/test_onlineDP.dir/cmake_clean.cmake
/build/examples/CMakeFiles/test_onlineDP.dir/CXX.includecache
/build/examples/CMakeFiles/test_onlineDP.dir/DependInfo.cmake
/build/examples/CMakeFiles/test_onlineDP.dir/depend.internal
/build/examples/CMakeFiles/test_onlineDP.dir/depend.make
/build/examples/CMakeFiles/test_onlineDP.dir/flags.make
/build/examples/CMakeFiles/test_onlineDP.dir/link.txt
/build/examples/CMakeFiles/test_onlineDP.dir/progress.make
/build/examples/CMakeFiles/test_onlineDP.dir/test_onlineDP.cpp.o
/build/examples/CMakeFiles/test_rewardWeightedRefinement.dir/build.make
/build/examples/CMakeFiles/test_rewardWeightedRefinement.dir/cmake_clean.cmake
/build/examples/CMakeFiles/test_rewardWeightedRefinement.dir/CXX.includecache
/build/examples/CMakeFiles/test_rewardWeightedRefinement.dir/DependInfo.cmake
/build/examples/CMakeFiles/test_rewardWeightedRefinement.dir/depend.internal
/build/examples/CMakeFiles/test_rewardWeightedRefinement.dir/depend.make
/build/examples/CMakeFiles/test_rewardWeightedRefinement.dir/flags.make
/build/examples/CMakeFiles/test_rewardWeightedRefinement.dir/link.txt
/build/examples/CMakeFiles/test_rewardWeightedRefinement.dir/progress.make
/build/examples/CMakeFiles/test_rewardWeightedRefinement.dir/test_rewardWeightedRefinement.cpp.o
/build/examples/CMakeFiles/test_tpdemonstration.dir/build.make
/build/examples/CMakeFiles/test_tpdemonstration.dir/cmake_clean.cmake
/build/examples/CMakeFiles/test_tpdemonstration.dir/CXX.includecache
/build/examples/CMakeFiles/test_tpdemonstration.dir/DependInfo.cmake
/build/examples/CMakeFiles/test_tpdemonstration.dir/depend.internal
/build/examples/CMakeFiles/test_tpdemonstration.dir/depend.make
/build/examples/CMakeFiles/test_tpdemonstration.dir/flags.make
/build/examples/CMakeFiles/test_tpdemonstration.dir/link.txt
/build/examples/CMakeFiles/test_tpdemonstration.dir/progress.make
/build/examples/CMakeFiles/test_tpdemonstration.dir/test_tpdemonstration.cpp.o
/build/examples/CMakeFiles/test_tpgmm_timeInvariant.dir/build.make
/build/examples/CMakeFiles/test_tpgmm_timeInvariant.dir/cmake_clean.cmake
/build/examples/CMakeFiles/test_tpgmm_timeInvariant.dir/CXX.includecache
/build/examples/CMakeFiles/test_tpgmm_timeInvariant.dir/DependInfo.cmake
/build/examples/CMakeFiles/test_tpgmm_timeInvariant.dir/depend.internal
/build/examples/CMakeFiles/test_tpgmm_timeInvariant.dir/depend.make
/build/examples/CMakeFiles/test_tpgmm_timeInvariant.dir/flags.make
/build/examples/CMakeFiles/test_tpgmm_timeInvariant.dir/link.txt
/build/examples/CMakeFiles/test_tpgmm_timeInvariant.dir/progress.make
/build/examples/CMakeFiles/test_tpgmm_timeInvariant.dir/test_tpgmm_timeInvariant.cpp.o
/build/examples/cmake_install.cmake
/build/examples/data/data_txyz.txt
/build/examples/data/HSMM_test_durMu.txt
/build/examples/data/HSMM_test_durSigma.txt
/build/examples/data/HSMM_test_mu.txt
/build/examples/data/HSMM_test_priors.txt
/build/examples/data/HSMM_test_sigma.txt
/build/examples/data/HSMM_test_trans.txt
/build/examples/data/pgmm/Data01.txt
/build/examples/data/pgmm/Data02.txt
/build/examples/data/pgmm/Data03.txt
/build/examples/data/pgmm/Data04.txt
/build/examples/data/pgmm/Mu02.txt
/build/examples/data/pgmm/Param01.txt
/build/examples/data/pgmm/Param02.txt
/build/examples/data/pgmm/Param03.txt
/build/examples/data/pgmm/Param04.txt
/build/examples/data/pgmm/ParamRepro01.txt
/build/examples/data/pgmm/Priors02.txt
/build/examples/data/pgmm/Sigma02.txt
/build/examples/data/pgmm/timeInvModel/pgmm_timeInv.txt
/build/examples/data/pgmm/timeInvModel/priors_timeInv.txt
/build/examples/data/pgmm/timeInvModel/vars_timeInv.txt
/build/examples/data/pgmm/timeInvModel/Zmu_timeInv_P1.txt
/build/examples/data/pgmm/timeInvModel/Zmu_timeInv_P2.txt
/build/examples/data/pgmm/timeInvModel/Zmu_timeInv.txt
/build/examples/data/pgmm/timeInvModel/Zsigma_timeInv_P1.txt
/build/examples/data/pgmm/timeInvModel/Zsigma_timeInv_P2.txt
/build/examples/data/pgmm/timeInvModel/Zsigma_timeInv.txt
/build/examples/Makefile
/build/examples/test_datapoints
/build/examples/test_demonstration
/build/examples/test_gmm
/build/examples/test_gmr
/build/examples/test_gmr2
/build/examples/test_HSMM
/build/examples/test_lqr
/build/examples/test_mvn
/build/examples/test_onlineDP
/build/examples/test_rewardWeightedRefinement
/build/examples/test_tpdemonstration
/build/examples/test_tpgmm_timeInvariant
/build/install_manifest.txt
/build/libpbd.a
/build/Makefile
/CMakeLists.txt~
/src/hsmm.cpp~
